.footer {
    margin-top: 44px;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
    }  
    ul { 
        display: flex;
        align-items: baseline;
    }
    li { 
        margin-left: 30px;
    }

}